*.*
node_modules
!.gitignore
!kubejs/**
kubejs/config
kubejs/md
kubejs/**/probe
kubejs/**/.probe

!manifest.json
!modlist.html

!config/vaultpatcher_asm/config.json
!config/vaultpatcher_asm/renderjs.json
!config/vaultpatcher_asm/lookme.txt
!config/kubejs-client.toml
!defaultconfigs/champions-entities.toml
!defaultconfigs/champions-ranks.toml