*.*
!.gitignore
!kubejs/**
kubejs/config
kubejs/md
kubejs/**/probe
kubejs/**/.probe

!manifest.json
!modlist.html

config/**
!config/vaultpatcher_asm
!config/kubejs-client.toml
!defaultconfigs/champions-entities.toml
!defaultconfigs/champions-ranks.toml