.idea
.vscode
.probe
./1.20.1-Forge_47.3.1-natives
1.20.1-Forge_47.3.1-natives

crash-reports
customparitcles

# config
./defaultconfigs/ftblibrary
./defaultconfigs/ftbultimine
config/* !config/kubejs-client.toml

# kubejs
./kubejs/md
./kubejs/**/probe
./kubejs/**/.probe

local
logs
mods
patchouli_books
PCL
resourcepacks
saves
schematics
screenshots
shaderpacks
vaultpatcher
xaero
XaeroWaypoints_BACKUP240807

*.log
*.jar
*.dll
*.dat
options.txt
package-lock.json
package.json
*.properties
1.20.1-Forge_47.3.1.json
patchouli_data.json
usercache.json
usernamecache.json